
body, .console {
    background-color:#323739;
    font-size: 14px;
    font-family: monospace;
    color: #dbdbdb;
}

.console {
  vertical-align:middle;
  background-color: #323739;
  border: none;
  padding-bottom: 5px;
}

.console:focus {
  /*outline-width: 0;*/
  outline-style: none;
}